<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/0-Phead.ejs')  %> 
  
<body>

  <%- include('./partials/1-Pheader.ejs') %>
  <h1>Empresas</h1>
  <a href="http://localhost:8000/dataWarehouse/">Inicio</a>

  <script>
    let url = "http://localhost:5000/"
    fetch(url)
      .then(res => res.json())
      .then(data => console.log(data));

    localStorage.setItem("dark", false);

    if (localStorage.getItem("dark") === "true") {
      document.querySelector("body").style.backgroundColor = "grey";
    } else {
      document.querySelector("body").style.backgroundColor = "cyan";
    }
  </script>

</body>
</html>