<header>
  <img src= alt="DW Logo">
  <nav>
    <ul>
      <li><a href="http://localhost:8000/dataWarehouse/contactos" target="_blank" rel="noopener noreferrer">Contactos</a></li>
      <li><a href="http://localhost:8000/dataWarehouse/empresas" target="_blank" rel="noopener noreferrer">Compañías</a></li>
      <li><a href="http://localhost:8000/dataWarehouse/usuarios" target="_blank" rel="noopener noreferrer">Usuarios</a></li>
      <li><a href="http://localhost:8000/dataWarehouse/region-ciudad" target="_blank" rel="noopener noreferrer">Región / Ciudad</a></li>
    </ul>
  </nav>
</header>